<section class="pt-5 text-center text-white" [style]="bgFooter">
    <div class="container my-5">
        <div class="footer">
            <div class="row card-group">
                <div class="col-md-4 px-5">
                    <div class="card-body">
                        <h3>LOCATION</h3>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-md-4 px-5">
                    <div class="card-body">
                        <h3>AROUND THE WEB</h3>
                        <div class="icons">
                            <i class="fa-brands fa-facebook mx-2 circle"></i>
                            <i class="fa-brands fa-twitter mx-2 circle"></i>
                            <i class="fa-brands fa-linkedin-in mx-2 circle"></i>
                            <i class="fa-solid fa-globe mx-2 circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-5">
                    <div class="card-body">
                        <h3 class="text-uppercase">about freelancer</h3>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyRight">
        <p>Copyright © Your Website 2021</p>
    </div>
</section>