<section class="notFound">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div>
                    <img [src]="imgsrc" alt="Not Found" class="w-100">
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <h2>AWWW...Don't Cry.</h2>
                    <h5>It's just a 404 Error!</h5>
                    <p>what you're looking for may have been misplaced in Long Term Memory</p>
                </div>
            </div>
        </div>
    </div>
</section>