<div class="d-flex flex-column align-items-center pt-5">
    <div class="text-center">
        <h2 class="text-uppercase fs-1 fw-bold my-4" [style]="colorHeaderFromparent">{{headerFromParent}}</h2>
        <div class="mb-4 d-flex justify-content-center align-items-center">
            <div class="line" [style]="colorLineFromParent"></div>
            <i class="fa-solid fa-star mx-3" [style]="colorStarFromParent"></i>
            <div class="line" [style]="colorLineFromParent"></div>
        </div>
    </div>
</div>
