<section class="portfolio mt-5">
    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center pt-5">
            <div class="text-center">
                <h2 class="text-uppercase fs-1 fw-bold my-4">portfolio component</h2>
                <div class="mb-4 d-flex justify-content-center align-items-center">
                    <div class="line"></div>
                    <i class="fa-solid fa-star mx-3"></i>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row g-5 mb-4" *ngIf="portfolios.length>0;else hide">
            <div class="col-lg-4 col-md-6" *ngFor="let portfolio of portfolios">
                <div class="image-container rounded-3 overflow-hidden position-relative">
                    <img [src]="portfolio.url" class="w-100 rounded-3" [alt]="portfolio.alt">
                    <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
                        [title]="portfolio.alt">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #hide>
    <h2 class="text-center">image not found</h2>
</ng-template>