<section class="portfolio mt-5">
    <div class="container mt-5">
        <app-star [headerFromParent]="header"></app-star>
        <div class="row g-5 mb-4" *ngIf="portfolios.length>0;else hide">
            <div class="col-lg-4 col-md-6" *ngFor="let portfolio of portfolios">
                <div class="image-container rounded-3 overflow-hidden position-relative">
                    <img [src]="portfolio.url" class="w-100 rounded-3" [alt]="portfolio.alt">
                    <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
                        [title]="portfolio.alt">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #hide>
    <h2 class="text-center">image not found</h2>
</ng-template>